.calendar-wrapper
  .days-name-wrapper
    .day-name(ng-repeat="day in Calendar.days" ng-bind="day")
  .dates-wrapper(calendar-infinite-scroll)
    .dates-inner-wrapper(vs-repeat="" vs-scroll-parent=".dates-wrapper")
      .week-line(ng-repeat="line in Calendar.CalendarService.lines track by $index")
        .date-wrapper(
          mouse-over
          ng-repeat="date in line track by $index"
          ng-class="{'opened': date.opened.first || date.opened.last, 'busy': date.busy, 'past': Calendar.isPast(date), 'current': date.current, 'selected': date.selected}")
          .day-wrapper(ng-class="{'weekend': date.weekend, 'current': date.current}")
            .day(ng-bind="Calendar.getDate(date.date)")
            .month(ng-bind="Calendar.getMonth(date.date)")
            .month(ng-bind="Calendar.getYear(date.date)")
            .price(
              ng-if="date.price"
              ng-bind="(date.specificPrice ? date.specificPrice.price : date.price) | currency: '$': 2"
              ng-class="{'specific-price': date.specificPrice}")
            .specific-rule(ng-if="date.specificPrice" ng-class="Calendar.specificPriceClasses(date)")
              .glyphicon.glyphicon-lock(ng-if="date.specificPrice.unbroken")
              .glyphicon.glyphicon-eye-open(ng-if="!date.specificPrice.unbroken")
            .day-availability(ng-repeat="availability in date.availability" ng-style="Calendar.cellStyle(availability)")
            .fill-selected(ng-style="Calendar.cellStyle(date)")
            .set-time.left(ng-if="date._first" ng-class="{'opened': date.opened.first}" show-picker="first")
              .glyphicon.glyphicon-time
            .set-time.right(ng-if="date._last" ng-class="{'opened': date.opened.last}" show-picker="last")
              .glyphicon.glyphicon-time
          div(ng-if="date.opened.first" cell-timepicker="date")
          div(ng-if="date.opened.last" cell-timepicker="date")
